/* Updated CSS with added colors and aesthetics */

.navbar2 {
    background-color: #f5f5f5; /* Light gray background */
    height: 80px;
    margin: 0 100 0.5px;
   
    display: flex ;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
    border-radius: 8px;
}

.navbar21 {
    height: 70px;
    
}

.navbar211img {
    height: 60px;
    align-self: flex-start;
}

.navbar22 {
    display: flex;
    align-items: center;
}

.navbar221 {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.navbar221 a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar221 a:hover {
    color: #00bcd4; /* Cyan hover color */
}

.navbar221img,
.navbar222img {
    height: 40px;
    margin-right: 7px;
}

@media only screen and (max-width: 768px) {
    .navbar2 {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 20px;
        margin: 0;
    }

    .navbar21 {
        margin-bottom: 15px;
    }

    .navbar211img {
        height: 50px;
    }

    .navbar22 {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar221 {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .navbar221 a {
        font-size: 18px;
    }

    .navbar221img,
    .navbar222img {
        height: 30px;
        margin-right: 0;
    }
}
