.aboutandmission {
    height: 400px;
    display: flex;
    margin: 10px 60px;
}

.leftabout {
    width: 68%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.leftaboutupper {
    height: 45%;
    margin-right: 2px;
}

.leftaboutlower {
    height: 55%;
    margin-right: 2px;
}

.rightabout {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rightaboutimage {
    width: 75%;
    height: 90%;
    border: 2px solid #333; /* Darker border color */
    border-radius: 8px;
    object-fit: cover; /* Ensure image covers container */
    align-self: flex-end; /* Align image to the end of the column */
}

.aboutus {
    text-align: left;
    margin-top: 20px;
    font-size: 1.2rem; /* Increased font size */
    line-height: 1.6; /* Improved readability with increased line height */
    color: #555; /* Darker text color */
}

.aboutusstyle {
    margin: 12px;
}

.visionandmission {
    border-top: 1px solid rgb(227, 222, 222);
    text-align: left;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 1.2rem; /* Increased font size */
    color: #777; /* Slightly lighter text color */
}

@media only screen and (max-width: 768px) {
    .aboutandmission {
        flex-direction: column;
        height: auto;
        margin: 10px 20px;
    }

    .leftabout,
    .rightabout {
        width: 100%;
    }

    .leftaboutupper,
    .leftaboutlower {
        margin-right: 0;
    }

    .rightaboutimage {
        width: 50%;
    }

    .aboutus,
    .visionandmission {
        font-size: 1rem; /* Adjusted font size for smaller screens */
    }
}
