.featuredservices {
    height: 400px;
    margin: 40px 60px 70px 60px;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 1 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.featuredupper {
    height: 28%;
    margin: 20px 0 2px 0;
}

.featuredlower {
    display: flex;
    height: 70%;
    gap: 30px;
}

.lowerc1,
.lowerc2,
.lowerc3,
.lowerc4 {
    align-items: flex-start;
    width: 25%;
    border: 1px solid #ece7e7;
    border-radius: 8px;
    padding: 20px;
    transition: box-shadow 0.3s ease;
    background: linear-gradient(111.4deg, rgb(122, 192, 233) 18.8%, rgb(4, 161, 255) 100.2%);
    border: 1px solid #000000;
    box-shadow: 0 5px 12px rgba(14, 8, 191, 0.77);
;
}

.lowerc1:hover,
.lowerc2:hover,
.lowerc3:hover,
.lowerc4:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transform: rotate(5deg); /* Add a slight lift effect on hover */
}

.lowerc1image {
    width: 60%; /* Reduced image size */
    margin: 10px auto 20px auto; /* Centered image */
    display: block; /* Ensures the centering works properly */
}

.lowerc1h5 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333333;
}

.lowerc1p {
    margin: 0 20px;
    font-size: 0.9em;
    color: #666666;
}

@media only screen and (max-width: 768px) {
    .featuredservices {
        height: auto;
        margin: 40px 20px;
        padding: 10px;
    }

    .featuredlower {
        flex-direction: column;
    }

    .lowerc1,
    .lowerc2,
    .lowerc3,
    .lowerc4 {
        width: 100%;
        margin-bottom: 20px;
    }
}
